@charset "utf-8";
/* Theme Color */

a,
.theme_color,
.btn-style-one:hover,
.social-icon-one li a:hover,
.info-block .inner .icon-box,
.lisks li a:before,
.page-info .bread-crumb li,
.page-info .bread-crumb li:after,
.page-info .bread-crumb li a:hover,
.list-style-one li:before,
.news-widget .post .text a:hover,
.social-icon-two li a:hover,
.main-header .info-box .icon-box,
.sidebar .popular-posts .post a:hover,
.sidebar .popular-posts .post .post-thumb .overlay-box,
.main-header .header-top .top-left ul li .icon,
.main-header .header-top .top-left ul li a:hover,
.main-menu .navigation > li:hover > a,
.main-menu .navigation > li.current > a,
.about-block .inner-box .lower-box h3 a:hover,
.main-menu .navigation > li.current-menu-item > a,
.services-block .inner-box .lower-box a:hover,
.process-block .inner-box .upper-box .icon-box,
.process-block .inner-box .lower-box h3 a:hover,
.about-block-two .inner-box .content-column h3 a:hover,
.services-block-two .inner-box .lower-content h3 a:hover,
.header-style-two .main-menu .navigation > li.current > a,
.header-style-two .main-menu .navigation > li:hover > a,
.services-block-two .inner-box .lower-content .read-more,
.services-block .inner-box .image .overlay-box .read-more:hover,
.project-tab .product-tab-btns .p-tab-btn:hover,
.project-tab .product-tab-btns .p-tab-btn.active-btn,
.services-block-three .inner-box:hover h3 a,
.project-section-two .owl-nav .owl-prev:hover,
.project-section-two .owl-nav .owl-next:hover,
.social-icon-three li a:hover,
.team-block .inner-box .lower-box h3 a,
.blog-cat li a:hover::before, .blog-cat li.active a::before,
.news-block .inner-box .image .overlay-box,
.news-block .inner-box .lower-box .post-meta li .icon,
.news-block .inner-box .lower-box .post-meta li a:hover,
.news-block .inner-box .lower-box h3 a:hover,
.accordion-box .block .acc-btn.active,
.accordion-box .block .acc-btn.active .icon-outer .icon-minus,
.main-footer.style-two h2, .main-footer.style-two .news-widget .post .post-info,
.gallery-item-two .inner-box .image .caption-box .category,
.fluid-section-one .content-column .inner-box .choose-info li .icon,
.solution-single .prod-tabs .tab-btns .tab-btn:hover,
.solution-single .prod-tabs .tab-btns .tab-btn.active-btn,
.project-page-section .filters .filter-tabs .filter.active,
.project-page-section .filters .filter-tabs .filter:hover,
.news-block-two .inner-box .content-column .post-meta li .icon,
.news-block-two .inner-box .content-column .post-meta li a:hover,
.news-block-two .inner-box .content-column h3 a:hover,
.news-block-two .inner-box .image-column .image .overlay-box,
.cat-list li.active a, .cat-list li a:hover,
.cart-table tbody tr .remove-btn:hover,
.shipping-block .inner-box h4,
.checkout-page .default-links li a,
.checkout-page .default-links li .fa,
.order-box ul li span,
.list-style-two li .icon,
.cart-section .totals-table .total .price,
.blog-single .inner-box .post-meta li .icon,
.shop-item .inner-box .lower-content h3 a:hover,
.shop-item .inner-box .lower-content .price,
.sidebar .related-posts .post .rating .fa,
.shop-item .inner-box .lower-content .rating .fa,
.product-details .basic-details .details-header .item-price,
.product-details .basic-details .details-header .rating,
.sidebar .related-posts .post a, .sidebar .related-posts .post a:hover,
.shop-item .inner-box .image .overlay-box .cart-option li a,
.sidebar-page-container .comments-area .comment-info .comment-time,
.archive-list li a:hover::before, .archive-list li a:hover,
.shop-comment-form .rating-box .rating a:hover,
.sidebar-page-container .comments-area .comment .comment-inner .rating{
	color:#ffb200;
}

/*Background Color*/
.btn-style-one,
.btn-style-two:hover,
.scroll-to-top:hover,
.btn-style-three,
.btn-style-four,
.brochure-box:hover,
.cart-section .coupon-btn,
.cart-section .cart-options .cart-btn,
.project-list li .icon,
.sidebar-page-container .comments-area .comment .comment-reply,
.sidebar .popular-tags a:hover,
.sidebar .search-box .form-group button,
.fact-counter .column .counter-title:after,
.process-block .inner-box:hover .upper-box .icon-box,
.services-block .inner-box .image .icon-box,
.main-header .info-box .order-btn,
.main-menu .navigation > li:hover a::before,
.main-menu .navigation > li.current a:before,
.main-menu .navigation > li > ul > li:hover > a,
.range-slider-one .ui-state-default, .range-slider-one .ui-widget-content .ui-state-default,
.main-menu .navigation > li > ul > li > ul > li > a:hover,
.main-header .sticky-header .main-menu .navigation > li:hover > a,
.main-header .sticky-header .main-menu .navigation > li.current > a,
.main-header .sticky-header .main-menu .navigation > li.current-menu-item > a,
.default-section .testimonial-column .owl-dots .owl-dot.active,
.default-section .testimonial-column .owl-dots .owl-dot:hover,
.styled-pagination .inner-container ul li a:hover,
.styled-pagination .inner-container ul li.active a,
.cart-section .totals-table .proceed-btn,
.post-share-options .inner-container .social-icons li a:hover,
.post-share-options .inner-container .social-icons li.active a,
.shop-single .product-details .prod-tabs .tab-btns .tab-btn:hover,
.shop-single .product-details .prod-tabs .tab-btns .tab-btn.active-btn,
.subscribe-form .form-group input[type="submit"],
.subscribe-form button,
.main-menu .navigation > li:hover a::before,
.main-menu .navigation > li.current a:before{
	background-color:#ffb200;
}

/*Border Color*/

.btn-style-one,
.btn-style-one:hover,
.btn-style-two:hover,
.btn-style-three,
.sec-title h2:after,
.main-menu .navigation > li > ul,
.main-menu .navigation > li > ul > li > ul,
.main-header .nav-outer .dropdown-outer .dropdown-menu,
.main-header .search-panel input:focus,
.main-header .search-panel select:focus,
.process-block .inner-box:hover .upper-box .icon-box,
.testimonial-block .inner-box .upper-box .quote-icon,
.default-form input:focus, .default-form select:focus,
.default-form textarea:focus,
.login-form .form-group input[type="text"]:focus,
.login-form .form-group input[type="password"]:focus,
.login-form .form-group input[type="tel"]:focus,
.login-form .form-group input[type="email"]:focus,
.login-form .form-group select:focus,
.login-form .form-group textarea:focus,
.brochure-box:hover,
.sidebar-title h2:after,
.blog-cat li:hover::after, .blog-cat li.active::after,
.sidebar-page-container .comments-area .comment-box:hover,
.comment-form .form-group input[type="text"]:focus,
.comment-form .form-group input[type="password"]:focus,
.comment-form .form-group input[type="tel"]:focus,
.comment-form .form-group input[type="email"]:focus,
.comment-form .form-group select:focus,
.comment-form .form-group textarea:focus,
.range-slider-one .ui-state-default,
.range-slider-one .ui-widget-content .ui-state-default,
.shop-comment-form .form-group input[type="text"]:focus,
.shop-comment-form .form-group input[type="password"]:focus,
.shop-comment-form .form-group input[type="tel"]:focus,
.shop-comment-form .form-group input[type="email"]:focus,
.shop-comment-form .form-group select:focus,
.shop-comment-form .form-group textarea:focus,
.coupon-form .form-group input[type="text"]:focus,
.checkout-form input:focus, .checkout-form select:focus, .checkout-form textarea:focus,
.contact-form .form-group input[type="text"]:focus,
.contact-form .form-group input[type="password"]:focus,
.contact-form .form-group input[type="tel"]:focus,
.contact-form .form-group input[type="email"]:focus,
.contact-form .form-group select:focus,
.contact-form .form-group textarea:focus,
.subscribe-section:before,
.subscribe-form .form-group input[type="text"],
.subscribe-form .form-group input[type="tel"],
.subscribe-form .form-group input[type="email"],
.subscribe-form .form-group textarea{
	border-color:#ffb200;
}

/*RGBA Color Light*/
.services-block-three .inner-box .image .overlay-box{
	background-color:rgba(255,178,0,0.70);
}

/*RGBA Color Dark*/
.gallery-item .inner-box .image-box .overlay-box{
	background-color:rgba(255,178,0,0.90);
}

@media only screen and (max-width: 767px){
	
	.main-menu .navbar-header .navbar-toggle{
		border-color:#ffb200;
	}
	
	.main-menu .navbar-header .navbar-toggle,
	.main-menu .navbar-collapse > .navigation,
	.main-menu .navbar-collapse > .navigation > li > ul,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul,
	.main-menu .navbar-collapse > .navigation > li > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li > a,
	.main-menu .navbar-collapse > .navigation > li > a:hover,
	.main-menu .navbar-collapse > .navigation > li > a:active,
	.main-menu .navbar-collapse > .navigation > li > a:focus,
	.main-menu .navbar-collapse > .navigation > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li.current > a,
	.main-menu .navbar-collapse > .navigation > li.current-menu-item > a,
	.header-style-two.inner-header .main-menu .navigation > li > a{
		background-color:#ffb200;
	}
	
}